<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Otters info</title>
  </head>
  <body>
    <h2>Otters Name: <%= otter.name %></h2>
    <h4>Age: <%= otter.age %></h4>
    <h4>Favorite Color: <%= otter.favorite_color %></h4>
    <a href='/'>Home</a>
    <a href='/otters/edit/<%= otter.id %>'> Edit this Otter</a>
  </body>
</html>
